%h1 Articles

%table.table.table-striped
  %thead
    %tr
      %th{width: '35%'} Titel
      %th{width: '50%'} Link
      %th{width: '15%'}

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= link_to article.link, article.link, target: "_blank"
        %td   
          = link_to "Show", article_path(article)
          = link_to "Edit", edit_article_path(article)

= link_to "new article", new_article_path