%h1 Articles

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Titel
        %th Link
        %th Description
        %th Created
        %th{width: '10%'}
  
    %tbody
      - @articles.each do |article|
        %tr
          %td= link_to article.title, article.link, target: "_blank"
          %td= link_to article.link, article.link, target: "_blank"
          %td= truncate article.description
          %td= format_datetime article.created_at
          %td= show_button article_path(article)

  
= add_button new_article_path